<a href="https://colab.research.google.com/github/Anoop96/ML-Algo-implementation-using-Sklearn-Toy_datasets/blob/master/Multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the data

In [0]:
data = pd.read_csv('50_Startups.csv')

In [0]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [0]:
data.isnull().sum() # checking if any column is null

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [0]:
data.shape

(50, 5)

Feature selection techniques 
1. All Variable in
2. Forward selection
3. Backward Elimination
4. Bi-directional Elimination
5. Score Comparision

**Backward Elimination:**
1. select a significance level to stay in the Model
2. Fit the full model with all possible predictors.
3. Consider the predictor with the highest P-value. If p>significance level, go to step 4, else : Model is complete.
4. Remove the variable.
5. Fit the model without the variable , goto step 3

**Forward Elimination**
1. select a significance level to stay in the Model
2. Fit all the simple regression models y-xn. select the one which has the smallest P-value.
3. Keep the variable and add another predictor and fit different models with that.
4. Consider predictor that has lowest P-value. if P< sig level goto step 3, else model is build finally.
5. Consider the previous model.

**Bidirectional Elimination**
1. select the significance level to stay in the model (sl)
2. perform the next step of forward selection (new variables must have (p < sl)
3. Perform all the steps of **backward Elimination** (old variables must have P < sl to stay).
4. No new variables can enter and no old can exit, model completed.

# Taking care of categorical features

In [0]:
y = pd.get_dummies(data.State, prefix='State')

In [0]:
data = pd.concat([y,data],axis=1)

In [0]:
data.head()

   State_California  State_Florida  ...       State     Profit
0                 0              0  ...    New York  192261.83
1                 1              0  ...  California  191792.06
2                 0              1  ...     Florida  191050.39
3                 0              0  ...    New York  182901.99
4                 0              1  ...     Florida  166187.94

[5 rows x 8 columns]

In [0]:
data.drop(['State'],axis=1,inplace=True)

In [0]:
data.columns

Index(['State_California', 'State_Florida', 'State_New York', 'R&D Spend',
       'Administration', 'Marketing Spend', 'Profit'],
      dtype='object')

# Splitting into Traing and Test set

In [0]:
X = data.iloc[:,:-1].values
print(X[:5])
y = data.iloc[:,-1].values
print(y[:5])

[[0.0000000e+00 0.0000000e+00 1.0000000e+00 1.6534920e+05 1.3689780e+05
  4.7178410e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.6259770e+05 1.5137759e+05
  4.4389853e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.5344151e+05 1.0114555e+05
  4.0793454e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.4437241e+05 1.1867185e+05
  3.8319962e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.4210734e+05 9.1391770e+04
  3.6616842e+05]]
[192261.83 191792.06 191050.39 182901.99 166187.94]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.2)

In [0]:
print(len(X_train))

40

# Training the Multiple Linear Regression model

1. We dont need to eliminate the redundant dummy variable which came from State column as the class itself eliminates it.
2. We also do not need to select features using feature selection techniques. as class takes only relevant features.

In [0]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
print(lr.coef_)

[ 8.66383692e+01 -8.72645791e+02  7.86007422e+02  7.73467193e-01
  3.28845975e-02  3.66100259e-02]

In [0]:
print(lr.intercept_)

42467.52924853204

# Predicting the Test set

In [0]:
y_pred = lr.predict(X_test)

In [0]:
print(np.vstack((y_test, y_pred)).T)

[[103282.38       103015.20159795]
 [144259.4        132582.27760816]
 [146121.95       132447.73845175]
 [ 77798.83        71976.09851258]
 [191050.39       178537.48221057]
 [105008.31       116161.24230167]
 [ 81229.06        67851.69209676]
 [ 97483.56        98791.73374687]
 [110352.25       113969.43533014]
 [166187.94       167921.06569552]]